/* utilities */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.primary-button {
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 50px;
}

/* nav bar styles */


header {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
}

.nav-logo {
    font-weight: 700;
    font-size: 45px;
}

.nav-info {
    display: flex;
    align-items: center;
}

.nav-info p {
    padding-left: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles */


.banner-section {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    text-align: center;
}

.banner-title {
    padding: 100px 200px 30px;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    color: #727272;
    margin-bottom: 32px;
}

.banner-photo {
    width: 80%;
    padding-bottom: 45px;
}

/* quick list features */


main,
footer {
    margin: 85px 160px;
}

.quick-list-feature {
    display: flex;
    align-items: center;
}

.corporate-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-right: 75px;
}

.corporate-photos>img {
    width: 342px;
    height: 342px;
}

.quick-list h2 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-bottom: 24px
}

.dark-color {
    color: #131313;
    font-weight: 700;
}

.orange-color {
    color: #FF900E;
    font-weight: 700;
}

.quick-list p {
    color: #727272;
    padding-bottom: 32px;
}

/* features styles */

.full-feature {
    margin-top: 100px;
    display: flex;
    gap: 140px;
}

.feature-heading {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.feature-heading hr {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.feature-heading h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 21px;
}

.feature-top-text p {
    color: #727272;
}

.feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-top: 30px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-bottom: 10px
}

.feature-description {
    color: #727272;
}

.feature-full-image img {
    width: 600px;
    height: 100%;
}

.experience-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    position: relative;
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    position: relative;
    left: 430px;
    bottom: 140px;
}

.experience-button-span {
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}

/* some facts styles */

.some-facts-section h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-facts-section p {
    color: #727272;
    padding-top: 24px;
}

/* achievement section styles */

.achievement-section {
    margin-top: 100px;
}

.achievements {
    display: flex;
    gap: 80px;
}

.achievement {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px;
    text-align: center;
}

.achievement:hover {
    background-color: #c2d6d6;
}

.achievement h2 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.achievement p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* sponsor styles  */

.sponsor-text {
    text-align: center;
    margin-bottom: 30px;
}

.sponsor-text h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-text p {
    color: #727272;
    margin-bottom: 50px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor img {
    filter: grayscale(100%);
}

/* rights styles */

.rights-section {
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    margin-bottom: 120px;
    text-align: center;
}

.rights-section p {
    padding: 30px;
    font-size: 20px;
    color: #424242;
}

/* -----------
media quaries
--------------- */

@media screen and (max-width: 577px) {
    body {
        width: 100%;
    }

    .primary-button {
        margin-bottom: 0;
    }

    nav {
        flex-direction: column;
        padding: 0;
    }

    .nav-logo {
        text-align: center
    }

    .banner-title {
        padding: 0;
        font-size: 55px;
        margin-top: 20px;
    }

    .banner-text .primary-button {
        margin-bottom: 20px;
    }

    .banner-photo {
        width: 90%;
        padding-bottom: 30px;
    }

    .corporate-photos>img {
        width: 100%;
        height: 100%;
    }

    .banner-section {
        width: 100%;
    }

    main {
        width: 80%;
        margin: 30px 30px;
    }

    .quick-list-feature {
        flex-direction: column;
        text-align: center;
    }

    .corporate-photos,
    footer {
        margin: 0;
    }

    .quick-list {
        margin-top: 25px;
    }

    .quick-list p {
        padding: 0;
        margin-bottom: 25px;
    }

    .full-feature {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 60px;
        gap: 0;
    }

    .feature-heading {
        justify-content: center;
    }

    .feature-heading hr {
        height: 80px;
    }

    .feature-heading h2 {
        font-size: 34px
    }

    .feature-full-image img {
        height: 100%;
        width: 100%;
        margin-bottom: 100px;
    }

    .feature {
        padding: 16px;
    }

    .experience-button {
        padding: 12px;
        position: initial;
        margin-top: 20px;
        margin-bottom: 45px;
        margin-left: 23px;
    }

    .some-facts-section {
        text-align: center;
    }

    .achievement-section {
        margin-top: 70px;
    }

    .achievements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .achievement {
        padding: 22px;
    }

    .achievement:hover {
        background-color: #c2d6d6;‰
    }

    .sponsors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
    }

    .rights-section {
        margin-top: 80px;
        margin-bottom: 45px;
    }

    .rights-section p {
        padding: 20px;
    }
}